@{
    ViewBag.Title = "Frm102 報紙資料維護";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
     $(document).ready(function () {
         Initialize_DataGrid();
     });

     function Initialize_DataGrid() {
         var getGridJSON = '@Url.Action("Grid", "Frm102")';
        $('#DataGrid').datagrid({
            title: '報紙資料維護',
            url: getGridJSON,
            width: '650',
            height: '400',
            rownumbers: true,
            nowrap: true,
            pagination: true,
            pageSize: 20,
            idField: 'CNO',
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: true,
            singleSelect: true,
            sortName: 'CNO',
            sortOrder: 'asc',
            columns: [[
                {
                    field: 'CNO',
                    title: '報紙編號',
                    sortable: true,
                    width: 50,
                    halign: "center",
                    align: "center",
                    sortable: true
                },               
                {
                    field: 'CNM',
                    title: '報紙名稱',
                    sortable: true,
                    width: 150,
                    halign: "center",
                    align: "left",
                    sortable: true
                }
            ]],
            onSelect: function (rowIndex, rowData) {
                $('#CNO').val($.trim(rowData.CNO));
                $('#CNM').val($.trim(rowData.CNM));
            }
        });

    }



    //新增											
    function doAdd() {
        doClear();
        if ($('#mode').val() == 'save') {
            $('#btnAdd').linkbutton({ text: '取消新增' });
            $('#mode').val('add');
            $('#CNO').attr('readonly', false);
        } else {
            $('#btnAdd').linkbutton({ text: '新增' });
            $('#mode').val('save');
            $('#CNO').attr('readonly', true);
        }
    }

    //儲存
    function doSave() {
        
        var mode = $.trim($('#mode').val());
        var bResult = $('#editForm').form('validate');
        if (bResult) {
            $.ajax({
                url: '@Url.Action("Save", "Frm102")',
                type: "post",
                data: getObj(mode),
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    if (data.status != '0') {
                        $('#btnAdd').linkbutton('enable');
                        $('#DataGrid').datagrid('reload');
                        $.messager.alert('系統訊息', '資料已儲存!', 'info');
                    } else {
                        $.messager.alert('系統訊息', data.message, 'error');
                    }
                    $('#mode').val('save');
                    $('#btnAdd').linkbutton({ text: '新增' });
                }
            });
        }
    }
    function doRemove() {
        var selectRow = $('#DataGrid').datagrid('getSelected');
        
        if (selectRow != null) {
            var obj = {};
            obj.CNO = selectRow.CNO;
            $.messager.confirm('執行確認', '是否確認刪除報紙編號:' + obj.CNO + ' 此筆資料?', function (r) {
                if (r) {
                    $.ajax({
                        url: '@Url.Action("Remove", "Frm102")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $.messager.alert('系統訊息', '資料已刪除!', 'info');
                                doClear();
                                $('#DataGrid').datagrid('reload');
                            } else {
                                $.messager.alert('系統訊息', data.message, 'error');
                            }

                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '您尚未選取資料', 'warning');
        }
    }

    function doClear() {
        $('#CNO').val('');
        $('#CNM').val('');
    }

    function getObj(mode) {
        var obj = {};
        obj.CNO = $.trim($('#CNO').val());
        obj.CNM = $.trim($('#CNM').val());
        obj.mode = mode;
        return obj;
    }
</script>
<h2>Frm102 報紙資料維護</h2>
<a id="btnReload" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="Initialize_DataGrid()">重新顯示</a>
<a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
<a id="btnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">儲存</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="doRemove()">刪除</a>
<form id="editForm" name="editForm" method="post">
    <input type="hidden" id="mode" name="mode" value="save" />
  報紙編號<input type="text" name="CNO" id="CNO" class="easyui-validatebox" style="width:80px" size="5" data-options="required:true" readonly />
    報紙名稱<input type="text" name="CNM" id="CNM" class="easyui-validatebox" style="width:200px" />
</form>
    <table id="DataGrid"></table>
