@{
    ViewBag.Title = "安全聯防通報";
}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                上傳檔案</div>
            <div class="panel-body">
                @using (Html.BeginForm("Upload", "Bulletin", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label for="Name" class="col-sm-3">
                            標題名稱</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="NAME" id="NAME">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BTYPE" class="col-sm-3">
                            類別</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="BTYPE" id="BTYPE">
                            @foreach (var item in (IList<IntranetSystem.Poco.BulletinTypePoco>)ViewData["BTYPE"])
                            {
                                <option value="@item.UUID">@item.NAME</option>
                            }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="FILENAME" class="col-sm-3">
                            上傳檔案</label>
                        <div class="col-sm-9">
                            <input type="file" name="FILENAME" id="FILENAME" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="REMARK" class="col-sm-3">
                            備註</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="REMARK" id="REMARK">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        儲存資料</button>
                }
            </div>
        </div>
    </div>
</div>
