@{
    ViewBag.Title = "Frm514 計時停車收入報表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {

        //人員列表
        $('#LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
        });







    });   //ready end

    $(window).load(function () {





    });


    function getObj() {
        var obj = {};
        obj.FEEYM = $.trim($('#FEEYM').val());
        obj.LOGUSR = $.trim($('#LOGUSR').combobox('getText'));
        return obj;
    }


    function doPrint() {
        if ($.trim($('#FEEYM').val()) != '') {
            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm514")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json",
                onSubmit: function (param) {
                    param.obj = JSON.stringify(getObj());

                }
            });

        } else {
            $.messager.alert('系統訊息', '尚未輸入收入年月!', 'warning');
        }



    }

</script>
<h2>Frm514 計時停車收入報表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<br />
<br />
 
<table width="800" border="1">
    <tr>
        <td width="50">收入年月</td>
        <td width="411">
            <input name="FEEYM" type="text" id="FEEYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> 
        </td>
    </tr>
    <tr>
        <td width="50">製表人</td>
        <td width="411">
            <input type="text" id="LOGUSR" name="LOGUSR" style="width:180px;height:28px"  />
        </td>
    </tr>

</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

