@{
    ViewBag.Title = "Frm507 年度租金一覽表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {



    });   //ready end

    $(window).load(function () {





    });


    function getObj(format) {
        var obj = {};
        obj.YY = $.trim($('#YY').val());
        obj.OPT = $("input[name='OPT']:checked").val();
        obj.FORMAT = format;
        return obj;
    }


    function doPrint(format) {
        if ($.trim($('#YY').val()) != '' ) {
            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm507")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json",
                onSubmit: function (param) {
                    param.obj = JSON.stringify(getObj(format));
                }
            });

        } else {
            $.messager.alert('系統訊息', '列印年度輸入不完整!', 'warning');
        }
    }


</script>
<h2>Frm507 年度租金一覽表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint('pdf')">列印</a>
<a id="btnExcel" href="#" class="easyui-linkbutton" data-options="iconCls:'excel-icon'" onclick="doPrint('excel')">匯出Excel</a>
<br />
<br />
 
<table width="800" border="1">
    <tr>
        <td width="50">列印年度</td>
        <td width="411">
            <input name="YY" type="text" id="YY" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYY'">
        </td>
    </tr>
   <tr>
        <td width="50">租金項目</td>
        <td width="411">
            <input id="OPT" name="OPT" type="radio" value="01" checked>
            房屋
            <input id="OPT" name="OPT" type="radio" value="02">
            管理費
            <input id="OPT" name="OPT" type="radio" value="03">
            車位
            <input id="OPT" name="OPT" type="radio" value="04">
            俱樂部
            <input id="OPT" name="OPT" type="radio" value="05">
            傢俱
            <input id="OPT" name="OPT" type="radio" value="*">
            全部租金
        </td>
    </tr>


</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

