@{
    ViewBag.Title = "Frm521 住戶車位一覽表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


    });   //ready end

    $(window).load(function () {





    });
 
 

  
    function doPrint() {
            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm521")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json"
            });
    }

</script>
<h2>Frm521 住戶車位一覽表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<br />
<br />
 

<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

