<div class="jumbotron">
    <h2 style="color: #FF0000;">
        <span class="glyphicon glyphicon-warning-sign"></span>　Warning!!</h2>
    <p>
        領料單作廢就無法恢復了!</p>
    <p>
        若確定要繼續請先輸入原因，並按下確定送出。</p>
    @using (Html.BeginForm("Deny", "DeliveryAdd", FormMethod.Post, new { @class = "form-signin", role = "from" }))
    {
        <p>
            <input type="hidden" name="rid" class="form-control" value="@ViewData["RID"]" />
            <input type="text" name="reason" class="form-control" autofocus required />
            <input type="hidden" name="chkno" class="form-control" value="@ViewData["CHKNO"]" />
        </p>
        <p>
            <button type="submit" class="btn btn-lg btn-block btn-success">
                確定送出</button>
        </p>
    }
</div>
@section header {
    @Scripts.Render("~/bundles/jbval")
    <script type="text/javascript">
        $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); });
    </script>
}
