<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="@Request.ApplicationPath">
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      @if (User.Identity.IsAuthenticated){
          //系統選單
          string url = Request.ApplicationPath.ToString();
          url = (url == "/") ? "" : url;
          @Html.Raw(IntranetSystem.Models.NavigationMenu.getAllNavBar(url));
      }
    </ul>

    @if (User.Identity.IsAuthenticated)
    {
        //登出按鈕
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(" | 登出 | ", "Logout", "Home")</li>
        </ul>
    }
  </div>
</nav>