@{
    ViewBag.Title = "Frm516 住戶國計籍分析表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {

        Initialize_DataGrid();
    });   //ready end

    $(window).load(function () {





    });
 
    function Initialize_DataGrid() {
        var getGridJSON = '@Url.Action("Grid", "Frm516")';
        $('#DataGrid').datagrid({
            title: '選擇年度(最多5筆)',
            url: getGridJSON,
            width: '120',
            height: '400',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: true,
            singleSelect: false,
            checkbox: true,
            columns: [[
                { field: 'CHK',title: '列印', sortable: true,width: 10, halign: "center",align: "center",checkbox: true },
                { field: 'YY',title: '年度',sortable: true,width: 50, halign: "center",align: "center" }
            ]]

        });

    }



    /*
    function getObj() {
        var obj = {};        
        obj.FEEYM = $.trim($('#FEEYM').val());
        obj.OPT = $("input[name='OPT']:checked").val();
        return obj;
    }*/

  
    function doPrint() {
        var row = $('#DataGrid').datagrid('getChecked');
        if (row.length > 0 ) {
            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm516")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json",
                onSubmit: function (param) {
                    param.list = JSON.stringify(row);
                }
            });

        } else {
            $.messager.alert('系統訊息', '尚未選取年度!', 'warning');
        }



    }

</script>
<h2>Frm516 住戶國計籍分析表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<br />
<br />
 
<table width="379" border="1">
    <tr>
        <td width="106" height="305" valign="top">請擇年度</td>
        <td width="257" valign="top">
            <table id="DataGrid"></table>
        </td>
    </tr>
</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

