   @Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
<h2>列印兌換券</h2>
@{Html.RenderPartial("~/Views/Shared/_IsuPrint.cshtml");}
<script>
    $(document).ready(function () {
        initListDG('@Url.Action("getIsu", "IsuPrint")');
    });
</script>