@{
    ViewBag.Title = "Frm519 專線管理報表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


    });   //ready end

    $(window).load(function () {





    });


    function getObj() {
        var obj = {};

        obj.OPT = $("input[name='OPT']:checked").val();
        return obj;
    }


    function doPrint() {

            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm519")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json",
                onSubmit: function (param) {
                    param.obj = JSON.stringify(getObj());

                }
            });


    }

</script>
<h2>Frm519 專線管理報表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<br />
<br />
 
<table width="800" border="1">
    <tr>
        <td width="50">列印選擇</td>
        <td width="411">
            <input id="OPT" name="OPT" type="radio" value="1" checked>
            已用
            <input id="OPT" name="OPT" type="radio" value="2">
            未用
            <input id="OPT" name="OPT" type="radio" value="*">
            全部
        </td>
    </tr>

</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

