@{
    ViewBag.Title = "Frm523 仲介成交統計表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


    });   //ready end

    $(window).load(function () {





    });
 

  





    
    function getObj() {
        var obj = {};
        obj.SYM = $.trim($('#SYM').datebox('getValue'));
        obj.EYM = $.trim($('#EYM').datebox('getValue'));
        obj.CNT = $.trim($('#CNT').val());
        return obj;
    }

  
    function doPrint() {
        var obj=getObj();
        if (obj.SYM!='' && obj.EYM!='' && obj.CNT!='') {
            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm523")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json",
                onSubmit: function (param) {                    
                    param.obj = JSON.stringify(obj);
                }
            });

        } else {
            $.messager.alert('系統訊息', '資料輸入不完整!', 'warning');
        }



    }

</script>
<h2>Frm523 仲介成交統計表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<br />
<br />
 
<table width="450" border="1">
    <tr>
        <td width="120">選擇起迄</td>
        <td width="411">
            <input name="SYM" type="text" id="SYM" class="easyui-datebox" style="width:150px;height:28px" data-options="prompt:'YYYY-MM-DD'"> ~ 迄<input name="EYM" type="text" id="EYM" class="easyui-datebox" style="width:150px;height:28px" data-options="prompt:'YYYY-MM-DD'">
        </td>
    </tr>
    <tr>
        <td width="106" height="305" valign="top">列印成交排行榜</td>
        <td width="257" valign="top">
           前<input name="CNT" type="text" id="CNT" style="width:60px" value="10" >名以內
        </td>
    </tr>
</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

