   @Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
<script type="text/javascript" src="~/Content/easyui/exts/datebox-ext.js"></script>
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script>
    $(document).ready(function () {

        //狀態
        $('#TYPE').combobox({
            onSelect: function (record) {
                
                if (record.value == "中文版") {
                    $('#CONTENT1').val('福華大飯店台北店住宿券');
                    $('#CONTENT2').val('一、適用飯店：台北福華大飯店。');
                    $('#CONTENT3').val('二、服務內容：豪華單床房一宿，二客早餐，依飯店規定提供免費之休閒設施。');
                    $('#CONTENT4').val('三、適用期間：2006年2月10日至2006年8月31日 (2006年3/7~3/11、6/5~6/10 不適用)');
                    $('#CONTENT5').val('四、使用規定：');
                    $('#CONTENT6').val('　　1.住宿前需請事先訂房，並告知住宿券編號。');
                    $('#CONTENT7').val('　　2.住宿券不得與其它優惠合併使用，且不得兌換現金與延期使用。');
                    $('#CONTENT8').val('　　3.住宿券如有遺失、被竊或滅失，概不掛失或補發，打孔或損毀視為作廢。');
                    $('#CONTENT9').val('　　4.住宿券未加印本公司專用條碼者無效。');
                    $('#CONTENT10').val('　　5.住宿券限於適用期間內使用，平日假日皆可使用。');
                    $('#CONTENT11').val('　　6.此為贈品券，不得轉售。');
                    $('#CONTENT12').val('');
                    $('#CONTENT13').val('');
                    $('#CONTENT14').val('');
                    $('#tr12').hide();
                    $('#tr13').hide();
                    $('#tr14').hide();
                } else if (record.value == "英文版") {
                    $('#CONTENT1').val('Gift Certificate');
                    $('#CONTENT2').val('The Howard Plaza Hotel Taipei');
                    $('#CONTENT3').val('This certificate is for Two Nights Complimentary Accommodation');
                    $('#CONTENT4').val('－ Superior Single / Twin Room');
                    $('#CONTENT5').val('(For two persons / inclusive of two buffet breakfasts / For 3 days 2 nights only)');
                    $('#CONTENT6').val('Value：USD591.95');
                    $('#CONTENT7').val('Subject to Availability');
                    $('#CONTENT8').val('(Excludes Gratuities, alcoholic beverage & other incidental charges)');
                    $('#CONTENT9').val('(Any additional charges will be payable at time of use)');
                    $('#CONTENT10').val('Subject to availability：Cannot be traded for cash & any unused dollar value will not be');
                    $('#CONTENT11').val('refundable. Non-extendable. Non-changeable. Non-transferable.');
                    $('#CONTENT12').val('Advance reservation required, please call at 886-2-23267558 and quote this Gift');
                    $('#CONTENT13').val('Certificate Number. Redeemable only in Howard Plaza Hotel at Taipei');
                    $('#CONTENT14').val('Valid Until：DECEMBER 31, 2006');
                    $('#tr12').show();
                    $('#tr13').show();
                    $('#tr14').show();
                } else if (record.value == "中英合版") {
                    $('#CONTENT1').val('尊爵豪華單床房兩天一夜住宿券');
                    $('#CONTENT2').val('本兌換券含早餐一客，僅限於台北福華大飯店使用');
                    $('#CONTENT3').val('敬請預先訂房，並告知心意券內容');
                    $('#CONTENT4').val('此為贈品券，不得轉售或兌換現金；若有遺失，恕不補發');
                    $('#CONTENT5').val('有效日期：2006/3/15 ~ 2007/5/31');
                    $('#CONTENT6').val('One Night Complimentary Accommodation in RC Deluxe Studio.');
                    $('#CONTENT7').val('(Inclusive of one buffet breakfast / For two days one night only)');
                    $('#CONTENT8').val('This certificate is redeemable only at The Howard Plaza Hotel Taipei.');
                    $('#CONTENT9').val("Advance reservation is required；please quote the certificate's content.");
                    $('#CONTENT10').val('This is a gift certificate and cannot be traded for cash.');
                    $('#CONTENT11').val('Any unused dollar value will not be refundable.');
                    $('#CONTENT12').val('No recovery if this voucher is lost.');
                    $('#CONTENT13').val('Valid Until：DECEMBER 31,2006');
                    $('#CONTENT14').val('');
                    $('#tr14').hide();
                }
            }
        });


    });

    $(window).load(function () {
        $('#CONTENT1').val('福華大飯店台北店住宿券');
        $('#CONTENT2').val('一、適用飯店：台北福華大飯店。');
        $('#CONTENT3').val('二、服務內容：豪華單床房一宿，二客早餐，依飯店規定提供免費之休閒設施。');
        $('#CONTENT4').val('三、適用期間：2006年2月10日至2006年8月31日 (2006年3/7~3/11、6/5~6/10 不適用)');
        $('#CONTENT5').val('四、使用規定：');
        $('#CONTENT6').val('　　1.住宿前需請事先訂房，並告知住宿券編號。');
        $('#CONTENT7').val('　　2.住宿券不得與其它優惠合併使用，且不得兌換現金與延期使用。');
        $('#CONTENT8').val('　　3.住宿券如有遺失、被竊或滅失，概不掛失或補發，打孔或損毀視為作廢。');
        $('#CONTENT9').val('　　4.住宿券未加印本公司專用條碼者無效。');
        $('#CONTENT10').val('　　5.住宿券限於適用期間內使用，平日假日皆可使用。');
        $('#CONTENT11').val('　　6.此為贈品券，不得轉售。');
        $('#CONTENT12').val('');
        $('#CONTENT13').val('');
        $('#CONTENT14').val('');
        $('#tr12').hide();
        $('#tr13').hide();
        $('#tr14').hide();        
    });


    function doQuery() {
        var obj = {};
        obj.UUID = $('#QUUID').textbox('getValue');
        
        $.ajax({
            url: '@Url.Action("getIsu", "Isu")',
            data: obj,
            type: "post",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data.total != "") {
                    $('#msg').hide();
                    $('#ctb').show();
                    var row = data.rows[0];
                    $('#UUID').val(row.UUID);
                    $('#content').html("預覽申請單號:" + row.UUID + " / 對象:" + row.CUS_CMP_NAME + " / 申請部門:" + row.ADPT_NAME);
                    if (row.CONTENT1 != null) {
                        $('#content1').html(row.CONTENT1);
                    } else {
                        $('#content1').html('');
                    }
                    if (row.CONTENT2 != null) {
                        $('#content2').html(row.CONTENT2);
                    } else {
                        $('#content2').html('');
                    }
                    if (row.CONTENT3 != null) {
                        $('#content3').html(row.CONTENT3);
                    } else {
                        $('#content3').html('');
                    }
                    if (row.CONTENT4 != null) {
                        $('#content4').html(row.CONTENT4);
                    } else {
                        $('#content4').html('');
                    }
                    if (row.CONTENT5 != null) {
                        $('#content5').html(row.CONTENT5);
                    } else {
                        $('#content5').html('');
                    }
                    if (row.CONTENT6) {
                        $('#content6').html(row.CONTENT6);
                    } else {
                        $('#content6').html('');
                    }
                } else {
                    $('#ctb').hide();
                    $('#msg').html('查無可修正申請單號資料!');
                    $('#msg').show();
                }
            }
        });
   }


    function doClear(){
       $('#QUUID').textbox('setValue','');
    }


    function doSave(){
        var t = $('#TYPE').combobox('getValue');
        var obj = {};
        if ($('#UUID').val() != "") {
            obj.UUID = $('#UUID').val();
            if (t == "中文版") {
                obj.CONTENT1 = $('#CONTENT1').val();
                obj.CONTENT2 = $('#CONTENT2').val();
                obj.CONTENT3 = $('#CONTENT3').val();
                obj.CONTENT4 = $('#CONTENT4').val();
                obj.CONTENT5 = $('#CONTENT5').val() + "<br>" + $('#CONTENT6').val() + "<br>" + $('#CONTENT7').val() + "<br>" + $('#CONTENT8').val() + $('#CONTENT9').val() + $('#CONTENT10').val() + $('#CONTENT11').val();
                obj.CONTENT6 = '';
            } else if ("英文版") {
                obj.CONTENT1 = $('#CONTENT1').val() + " " + $('#CONTENT2').val();
                obj.CONTENT2 = $('#CONTENT3').val() + "<br>" + $('#CONTENT4').val() + "<br>" + $('#CONTENT5').val();
                obj.CONTENT3 = $('#CONTENT6').val();
                obj.CONTENT4 = $('#CONTENT7').val() + "<br>" + $('#CONTENT8').val() + "<br>" + $('#CONTENT9').val();
                obj.CONTENT5 = $('#CONTENT10').val() + "<br>" + $('#CONTENT11').val() + "<br>" + $('#CONTENT12').val() + "<br>" + $('#CONTENT13').val();
                obj.CONTENT6 = $('#CONTENT14').val();
            } else if ("中英合版") {
                obj.CONTENT1 = $('#CONTENT1').val() + "<br>" + $('#CONTENT2').val() + $('#CONTENT3').val();
                obj.CONTENT2 = $('#CONTENT4').val() + "<br><br><br>" + $('#CONTENT5').val();
                obj.CONTENT3 = $('#CONTENT6').val() + "<br>" + $('#CONTENT7').val();
                obj.CONTENT4 = $('#CONTENT8').val() + "<br>" + $('#CONTENT8').val();
                obj.CONTENT5 = $('#CONTENT10').val() + "<br>" + $('#CONTENT11').val();
                obj.CONTENT6 = $('#CONTENT12').val() + "<br><br><br>" + $('#CONTENT13').val();
            }

            
            $.ajax({
                url: '@Url.Action("doSaveContent","IsuContentEdit")',                
                data: obj,
                type: "post",
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    if (data != "") {
                        $.messager.alert('系統訊息', '申請單編號:' + obj.UUID + ',儲存完成!', 'info');
                    }                
                }
            });
        }
    }

    </script>
}
<h2>住宿券片語修正</h2>
<div id="cc" class="easyui-layout" data-options="fit:true" style="padding-bottom:11em;"> 
    <div data-options="region:'west',title:'查詢條件',fitColumns:true,split:true"  style="background:#eee;width:300px; height:100%">
      <form>
        <table width="245" border="0" cellpadding="3" cellspacing="2">
        <tr>
          <td bgcolor="#DFDFDF">申請單號</td>
          <td>
        <select id="QUUID" class="easyui-textbox" name="QUUID" data-options="prompt:'請輸入單號'" style="width:150px;height:28px">
        </select>          </td>
        </tr>

        <tr>
          <td colspan="2"><div align="center">
          <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="doQuery()">查詢</a>
          <a href="#" class="easyui-linkbutton" data-options="iconCls:'broom-icon'" onclick="doClear()">清空</a>
          </div></td>
          </tr>
        </table>
        </form>
    </div>   
    <div data-options="region:'center',title:''"  >
    <div id="msg" style="color:Red; font-weight:bold; font-size:16px"></div>
<div id="ctb" style="display:none">
<table  width="100%" border="0" cellpadding="2" cellspacing="1" >
  <tr>
    <td colspan="2" bgcolor="#E6E6E6">
      <div align="center" id="content"></div>
    </td>
  </tr>
  <tr>
    <td width="20" bgcolor="#E6E6E6"><div align="center">1</div></td>
    <td >
    <div id="content1"></div>    </td>
  </tr>
  <tr>
    <td bgcolor="#E6E6E6"><div align="center">2</div></td>
    <td><div id="content2"></div></td>
  </tr>
  <tr>
    <td bgcolor="#E6E6E6"><div align="center">3</div></td>
    <td><div id="content3"></div></td>
  </tr>
  <tr>
    <td bgcolor="#E6E6E6"><div align="center">4</div></td>
    <td><div id="content4"></div></td>
  </tr>
  <tr>
    <td bgcolor="#E6E6E6"><div align="center">5</div></td>
    <td><div id="content5"></div></td>
  </tr>
  <tr>
    <td bgcolor="#E6E6E6"><div align="center">6</div></td>
    <td><div id="content6"></div></td>
  </tr>
</table>

<table id="etb" width="100%" border="0" cellpadding="2" cellspacing="1" >
  <tr>
    <td colspan="2" bgcolor="#E6E6E6"><div id="content">
      <input id="UUID" type="hidden"/>
       <select id="TYPE" class="easyui-combobox" name="TYPE" data-options="prompt:'請選擇版本',editable:false" style="width:150px;height:28px">           
            
            <option value="中文版">中文版</option>
            <option value="英文版">英文版</option>
            <option value="中英合版">中英合版</option>
        </select>          
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">儲存套用</a>
    </div></td>
  </tr>
  <tr id="tr1">
    <td width="20" bgcolor="#E6E6E6"><div align="center">1</div></td>
    <td >
    <input id="CONTENT1" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr2">
    <td bgcolor="#E6E6E6"><div align="center">2</div></td>
    <td><input id="CONTENT2" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr3">
    <td bgcolor="#E6E6E6"><div align="center">3</div></td>
    <td><input id="CONTENT3" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr4">
    <td bgcolor="#E6E6E6"><div align="center">4</div></td>
    <td><input id="CONTENT4" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr5">
    <td bgcolor="#E6E6E6"><div align="center">5</div></td>
    <td><input id="CONTENT5" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr6">
    <td bgcolor="#E6E6E6"><div align="center">6</div></td>
    <td><input id="CONTENT6" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr7">
    <td bgcolor="#E6E6E6"><div align="center">7</div></td>
    <td><input id="CONTENT7" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr8">
    <td bgcolor="#E6E6E6"><div align="center">8</div></td>
    <td><input id="CONTENT8" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr9">
    <td bgcolor="#E6E6E6"><div align="center">9</div></td>
    <td><input id="CONTENT9" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr10">
    <td bgcolor="#E6E6E6"><div align="center">10</div></td>
    <td><input id="CONTENT10" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr11">
    <td bgcolor="#E6E6E6"><div align="center">11</div></td>
    <td><input id="CONTENT11" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr12">
    <td bgcolor="#E6E6E6"><div align="center">12</div></td>
    <td><input id="CONTENT12" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr13">
    <td bgcolor="#E6E6E6"><div align="center">13</div></td>
    <td><input id="CONTENT13" type="text" style="width:600px;height:22px"/></td>
  </tr>
  <tr id="tr14">
    <td bgcolor="#E6E6E6"><div align="center">14</div></td>
    <td><input id="CONTENT14" type="text" style="width:600px;height:22px"/></td>
  </tr>
</table>
</div>
    </div>
</div>
