@{
    ViewBag.Title = "Frm513 住戶一覽表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


        initF513();








    });   //ready end

    $(window).load(function () {





    });
 

    function getObj() {
        var obj = {};        
        obj.FEEYM = $.trim($('#FEEYM').val());
        obj.PINS = $.trim($('#PINS').combobox('getValue'));
        obj.PINS_CHK = $("input[name='PINS_CHK']:checked").val();
        obj.FEEYM_CHK = $("input[name='FEEYM_CHK']:checked").val();
        return obj;
    }

  
    function doPrint(mode) {
        
        $('#ifm').form('submit', {
            url: '@Url.Action("doRunReport", "Frm513")',
          //  queryParams:obj,
            dataType: "json",
            contentType: "application/json",
            onSubmit: function (param) {
                param.obj = JSON.stringify(getObj());

            }
        });
    
  



    }

</script>
<h2>Frm513 住戶一覽表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<br />
<br />
 
<table width="800" border="1">
    <tr>
        <td width="107">到期年月</td>
        <td width="411">
            <input name="FEEYM" type="text" id="FEEYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> <input type="checkbox" name="FEEYM_CHK" value="*">
            所有年月
        </td>
    </tr>
    <tr>
        <td>指定坪數</td>
        <td>
            <select id="PINS" class="easyui-combobox" name="PINS" data-options="editable:false" style="width:70px;height:28px">
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="100" selected>100</option>
                <option value="105">105</option>
                <option value="130">130</option>
                <option value="180">180</option>
            </select>           
            
             <input type="checkbox" name="PINS_CHK" value="*" >
            所有坪數
        </td>
    </tr>
</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

