<table width="800" border="1">
    <tr>
        <td width="96">幫傭姓名</td>
        <td width="290">
            <input id="TAGID4" name="TAGID4" type="hidden" />
            <input type="text" id="ASST" name="ASST" style="width:160px;height:28px" />
        </td>
        <td width="92">&nbsp;</td>
        <td width="294">&nbsp;</td>
    </tr>
    <tr>
        <td>國籍</td>
        <td><input type="text" id="CNTRY4" name="CNTRY4" style="width:160px;height:28px" /></td>
        <td>進住日 </td>
        <td><input type="text" id="CIDT4" name="CIDT4" class="easyui-datebox" style="width:160px;height:28px"></td>
    </tr>
    <tr>
        <td>工作項目</td>
        <td>
            <input name="WORKTP" id="WORKTP" type="radio" value="1" />
            幫傭
            <input name="WORKTP" id="WORKTP" type="radio" value="2" />
            褓姆
            <input name="WORKTP" id="WORKTP" type="radio" value="3" />
            以上皆有
        </td>
        <td>遷出日</td>
        <td><input type="text" id="CODT4" name="CODT4" class="easyui-datebox" style="width:160px;height:28px"></td>
    </tr>
    <tr>
        <td>工作說明</td>
        <td colspan="3"><input type="text" id="NOTES4" name="NOTES4" style="width:400px" /></td>
    </tr>
</table>
<br />
<table id="cusTab4DG"></table>