<table width="394" border="1">
    <tr>
        <td width="126">電話類別</td>
        <td width="252"><input id="TAGID2" name="TAGID2" type="hidden" />
            <select id="TELTP" class="easyui-combobox" data-options="editable:false" name="TELTP" style="width:60px;height:28px">
                <option value=""></option>
                <option>專線</option>
                <option>外線</option>
                <option>分機</option>
                <option>手機</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>電話號碼</td>
        <td><input type="text" id="TELNO" name="TELNO" style="width:160px;height:28px" /></td>
    </tr>
    <tr>
        <td>使用者</td>
        <td><input type="text" id="OWNER" name="OWNER" style="width:250px;height:28px"  /></td>
    </tr>
</table>
<br />
<table id="cusTab2DG"></table>