<table width="600" border="1">
    <tr>
        <td width="118">車位編號</td>
        <td width="466">
            <input id="TAGID3" name="TAGID3" type="hidden" />
            <input type="text" id="PARKNO" name="PARKNO" style="width:160px;height:28px" />
        </td>
    </tr>
    <tr>
        <td>車牌號碼</td>
        <td><input type="text" id="CARNO" name="CARNO"  /></td>
    </tr>
    <tr>
        <td>車輛別</td>
        <td>
            <input name="CARTP" id="CARTP" type="radio" value="1" />
            住戶車
            <input name="CARTP" id="CARTP" type="radio" value="2" />
            司機車  
        </td>
    </tr>
    <tr>
        <td>司機姓名</td>
        <td><input type="text" id="DRIVER" name="DRIVER" /></td>
    </tr>
    <tr>
        <td>停車證號</td>
        <td>
            <input type="text" id="PARKID" name="PARKID"  />
            領證日
            <input type="text" id="IDDT" name="IDDT" class="easyui-datebox" style="width:160px;height:28px" />
        </td>
    </tr>
</table>
<br />
<table id="cusTab3DG"></table>