

@if (@ViewBag.CNHNO == null)
{
    <a id="btn2Contract" href="#" class="easyui-linkbutton" data-options="iconCls:'table-money-icon'" onclick="showContractManagerDialog()">租金作業</a>
}
<table width="650" border="1">
    <tr>
        <td width="106">
            車位合約編號<input type="hidden" id="CAR_TAGID" name="CAR_TAGID" />
        </td>
        <td><input type="text" id="CAR_CNPNO" name="CAR_CNPNO" readonly /></td>
        <td colspan="2">
            <input id="CAR_RNTP" name="CAR_RNTP" type="radio" value="1" />
            附約
            <input id="CAR_RNTP" name="CAR_RNTP" type="radio" value="2" />
            另約
        </td>
    </tr>
    <tr>
        <td>承租人</td>
        <td width="170">
            <label>
                <input id="CAR_RNTERTP" name="CAR_RNTERTP" type="radio" value="1" />
                個人
                <input id="CAR_RNTERTP" name="CAR_RNTERTP" type="radio" value="2" />
                公司
            </label>
        </td>
        <td>名稱</td>
        <td width="228"><input type="text" id="CAR_DEALERNM" name="CAR_DEALERNM" /></td>
    </tr>
    <tr>
        <td>車位編號</td>
        <td><input type="text" id="CAR_PARKNO" name="CAR_PARKNO" class="easyui-combogrid" data-options="editable:false" style="width:100px;height:28px" /></td>
        <td>位置</td>
        <td><input type="text" id="CAR_LOCT" name="CAR_LOCT" readonly /></td>
    </tr>
    <tr>
        <td>起租日</td>
        <td><input type="text" id="CAR_DT1" name="CAR_DT1" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',required:true,validType:['date']" /></td>
        <td>到期日</td>
        <td><input type="text" id="CAR_DT2" name="CAR_DT2" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',required:true,validType:['date','isAfter[\'#CAR_DT1\']']" /></td>
    </tr>
    <tr>
        <td>共計</td>
        <td colspan="3">
            <input type="text" id="CAR_YRS" name="CAR_YRS" class="easyui-validatebox" style="width:40px" readonly />
            年
            <input type="text" id="CAR_MNS" name="CAR_MNS" class="easyui-validatebox" style="width:40px" readonly />
            月
            <input type="text" id="CAR_DYS" name="CAR_DYS" class="easyui-validatebox" style="width:40px" readonly />
            日<a id="btn1" href="#" class="easyui-linkbutton" onclick="chkYMD('CAR_')">計算天數</a>
        </td>
    </tr>
    <tr>
        <td>月租費</td>
        <td><input type="text" id="CAR_RNFEE" name="CAR_RNFEE" /></td>
        <td colspan="2">            
                折數一
                <input type="text" id="CAR_DSCON1" name="CAR_DSCON1" class="easyui-validatebox" style="width:40px" />
                %            
            折數二
            <input type="text" id="CAR_DSCON2" name="CAR_DSCON2" class="easyui-validatebox" style="width:40px" />
            %
        </td>
    </tr>
    <tr>
        <td>繳費期</td>
        <td colspan="3">
            <input id="CAR_RNFEETP" name="CAR_RNFEETP" type="radio" value="1" />
            月繳
            <input id="CAR_RNFEETP" name="CAR_RNFEETP" type="radio" value="2" />
            季繳
            <input id="CAR_RNFEETP" name="CAR_RNFEETP" type="radio" value="3" />
            半年繳
            <input id="CAR_RNFEETP" name="CAR_RNFEETP" type="radio" value="4" />
            年繳
        </td>
    </tr>
    <tr>
        <td colspan="4">
            備註<br />
            <textarea id="CAR_NOTES" name="CAR_NOTES" cols="50" rows="5"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="4">車位合約列表</td>
    </tr>
    <tr>
        <td height="140" colspan="4" valign="top">
            <label>
                <table id="CONTRAP_DG"></table>
            </label>
        </td>
    </tr>
</table>