

@if (@ViewBag.CNHNO == null)
{
    <a id="btn3Contract" href="#" class="easyui-linkbutton" data-options="iconCls:'table-money-icon'" onclick="showContractManagerDialog()">租金作業</a>
}
<a id="btn3oth" href="#" class="easyui-linkbutton" data-options="iconCls:'television-icon'" onclick="showFrm201gDialog()">傢俱明細</a>
<table width="650" border="1">
    <tr>
        <td width="106">
            傢俱合約編號<input type="hidden" id="H2_TAGID" name="H2_TAGID" />
        </td>
        <td><input type="text" id="H2_CNFNO" name="H2_CNFNO" readonly  /></td>
        <td colspan="2">
            <input id="H2_RNTP" name="H2_RNTP" type="radio" value="1" />
            附約
            <input id="H2_RNTP" name="H2_RNTP" type="radio" value="2" />
            另約
        </td>
    </tr>
    <tr>
        <td>承租人</td>
        <td width="170">
            <label>
                <input id="H2_RNTERTP" name="H2_RNTERTP" type="radio" value="1" />
                個人
                <input id="H2_RNTERTP" name="H2_RNTERTP" type="radio" value="2" />
                公司
            </label>
        </td>
        <td>名稱</td>
        <td width="228"><input type="text" id="H2_DEALERNM" name="H2_DEALERNM" /></td>
    </tr>
    <tr>
        <td>起租日</td>
        <td><input type="text" id="H2_DT1" name="H2_DT1" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',required:true,validType:['date']" /></td>
        <td>到期日</td>
        <td><input type="text" id="H2_DT2" name="H2_DT2" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',required:true,validType:['date','isAfter[\'#H2_DT1\']']" /></td>
    </tr>

    <tr>
        <td>共計</td>
        <td colspan="3">
            <input type="text" id="H2_YRS" name="H2_YRS" class="easyui-validatebox" style="width:40px" readonly />
            年
            <input type="text" id="H2_MNS" name="H2_MNS" class="easyui-validatebox" style="width:40px" readonly />
            月
            <input type="text" id="H2_DYS" name="H2_DYS" class="easyui-validatebox" style="width:40px" readonly />
            日<a id="btn1" href="#" class="easyui-linkbutton" onclick="chkYMD('H2_')">計算天數</a>
        </td>
    </tr>
    <tr>
        <td>月租費</td>
        <td><input type="text" id="H2_RNFEE" name="H2_RNFEE" /></td>
        <td colspan="2">
            
                折數一
                <input type="text" id="H2_DSCON1" name="H2_DSCON1" class="easyui-validatebox" style="width:40px" />
                %            
            折數二
            <input type="text" id="H2_DSCON2" name="H2_DSCON2" class="easyui-validatebox" style="width:40px" />
            %
        </td>
    </tr>
    <tr>
        <td>繳費期</td>
        <td colspan="3">
            <input id="H2_RNFEETP" name="H2_RNFEETP" type="radio" value="1" />
            月繳
            <input id="H2_RNFEETP" name="H2_RNFEETP" type="radio" value="2" />
            季繳
            <input id="H2_RNFEETP" name="H2_RNFEETP" type="radio" value="3" />
            半年繳
            <input id="H2_RNFEETP" name="H2_RNFEETP" type="radio" value="4" />
            年繳
        </td>
    </tr>
    <tr>
        <td colspan="4">
            備註<br />
            <textarea id="H2_NOTES" name="H2_NOTES" cols="50" rows="5"></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="4">傢俱合約列表</td>
    </tr>
    <tr>
        <td height="140" colspan="4" valign="top">
            <label>
                <table id="CONTRAF_DG"></table>
            </label>
        </td>
    </tr>
</table>