@{
    Layout = null;
}

<script>
    var Rows1;
    var Rows2;
    $(document).ready(function () {




        var TAGID,CNNO,FEETP;
        var tab = $('#tt').tabs('getSelected');
        var i = $('#tt').tabs('getTabIndex', tab);
        $('#cnmLabel').text('月租費');
        if (i == 0) {
            CNNO = $('#CNHNO').val();
            FEETP = "01";
            TAGID = $('#CONTRAH_TAGID').val();
            $('#cmSDT').val($('#DT1').datebox('getValue'));
            $('#cmEDT').val($('#DT2').datebox('getValue'));
            $('#cmRNFEE').val($('#RNFEE').val());
            $('#cmMGFEE').val($('#MGFEE').val());
            $('#cmTB2').show();
            $('#contractLabel').text('房屋合約');
            $('#cnmLabel2').text('(房租)');
            $('#cmYY').text($('#YRS').val());
            $('#cmMM').text($('#MNS').val());
            $('#cmDD').text($('#DYS').val());
            var obj = {};
            //obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
            obj.TAGID = TAGID;
            obj.CNNO = CNNO;
            obj.FEETP = "02";
            var getGridJSON = '@Url.Action("getCmDG1", "ContractManager")';
            $('#cmDG2').datagrid({
                url: getGridJSON,
                queryParams: obj,
                border: true,
                rownumbers: false,
                nowrap: true,
                pagination: false,
                striped: true,
                showHeader: true,
                fitColumns: false,
                remoteSort: false,
                singleSelect: true,
                columns: [[
                    { field: 'YR', title: '年度', sortable: true, width: 40, halign: "center", align: "center", sortable: true },
                    { field: 'FDT1', title: '起租日', sortable: true, width: 82, halign: "center", align: "center", sortable: true },
                    { field: 'FDT2', title: '到期日', sortable: true, width: 82, halign: "center", align: "center", sortable: true },
                    { field: 'TUNEDT', title: '調漲日', sortable: true, width: 82, halign: "center", align: "center", sortable: true },
                    { field: 'TUNEUP', title: '漲幅%', sortable: true, width: 50, halign: "center", align: "center", sortable: true },
                    { field: 'FEEAMT', title: '租金', sortable: true, width: 90, halign: "center", align: "right", sortable: true }
                ]],
                onSelect: function (index, row) {
                   // showCm1Form(row);
                },                
                onLoadSuccess: function (data) {                   
                        doFormula2();                    
                }
            });
        } else if (i == 1) {
            FEETP = "03";
            $('#cmSDT').val($('#CAR_DT1').datebox('getValue'));
            $('#cmEDT').val($('#CAR_DT2').datebox('getValue'));
            $('#cmRNFEE').val($('#CAR_RNFEE').val());

            CNNO = $('#CAR_CNPNO').val();
            TAGID= $('#CAR_TAGID').val();
            $('#contractLabel').text('車位合約');
            $('#cnmLabel2').text('(車位)');
            $('#cmYY').text($('#CAR_YRS').val());
            $('#cmMM').text($('#CAR_MNS').val());
            $('#cmDD').text($('#CAR_DYS').val());
        } else if (i == 2) {
            FEETP = "04";
            $('#cmSDT').val($('#H2_DT1').datebox('getValue'));
            $('#cmEDT').val($('#H2_DT2').datebox('getValue'));
            $('#cmRNFEE').val($('#H2_RNFEE').val());

            CNNO = $('#H2_CNFNO').val();
            TAGID= $('#H2_TAGID').val();
            $('#contractLabel').text('傢俱合約');
            $('#cnmLabel2').text('(傢俱)');
            $('#cmYY').text($('#H2_YRS').val());
            $('#cmMM').text($('#H2_MNS').val());
            $('#cmDD').text($('#H2_DYS').val());
        } else if (i == 3) {
            FEETP = "05";
            $('#cmSDT').val($('#C_DT1').datebox('getValue'));
            $('#cmEDT').val($('#C_DT2').datebox('getValue'));
            $('#cmRNFEE').val($('#C_RNFEE').val());

            CNNO = $('#C_CNCNO').val();
            TAGID = $('#C_TAGID').val();
            $('#contractLabel').text('俱樂部合約');
            $('#cnmLabel2').text('(俱樂部)');
            $('#cmYY').text($('#C_YRS').val());
            $('#cmMM').text($('#C_MNS').val());
            $('#cmDD').text($('#C_DYS').val());        
        } else {
            $('#cmTB2').hide();
        }
        
        $('#cmCNNO').text(CNNO);
        $('#cmRMNO').text($('#HOUSE').combogrid('getValue'));
        $('#cmFEETP').val(FEETP);

        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        //obj.TAGID = TAGID;
        obj.CNNO = CNNO;
        obj.FEETP = FEETP;
        
        var getGridJSON = '@Url.Action("getCmDG1", "ContractManager")';
        $('#cmDG1').datagrid({
            url: getGridJSON,
            queryParams: obj,
            border: true,
            rownumbers: false,
            nowrap: true,
            pagination: false,            
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'YR', title: '年度', sortable: true, width: 40, halign: "center", align: "center", sortable: true },
                { field: 'FDT1', title: '起租日', sortable: true, width: 82, halign: "center", align: "center", sortable: true },
                { field: 'FDT2', title: '到期日', sortable: true, width: 82, halign: "center", align: "center", sortable: true },
                { field: 'TUNEDT', title: '調漲日', sortable: true, width: 82, halign: "center", align: "center", sortable: true },
                { field: 'TUNEUP', title: '漲幅%', sortable: true, width: 50, halign: "center", align: "center", sortable: true },                
                { field: 'FEEAMT', title: '租金', sortable: true, width: 90, halign: "center", align: "right", sortable: true }
            ]],
            onSelect: function (index, row) {
                //showCm1Form(row);
            },
            onLoadSuccess: function (data) {
                
                    doFormula1();
            }
        });


    });

    /*
    $(window).load(function () {
        Rows1 = $('#cmDG1').datagrid('getRows');
        Rows2 = $('#cmDG2').datagrid('getRows');
    });*/
    function doReload1() {
        $('#cmDG1').datagrid('reload');
    }

    function doReload2() {
        $('#cmDG2').datagrid('reload');        
    }

    function doFormula1() {        
        objName = 'cmDG1';
        var rows = $('#' + objName).datagrid('getRows');
        
        if (rows.length > 0) {
            $.each(rows, function (iIndex, objField) {
                if (iIndex > 0) {
                    var tuneup = 0;
                    var feeamt = 0;
                    if ($('#' + objName + iIndex).val() != '') {
                        tuneup = $('#' + objName + iIndex).val();
                    }

                    


                    if (objField.FEEAMT >= 0) {
                        feeamt = Math.round(((tuneup * objField.FEEAMT) / 100) + objField.FEEAMT);
                    }

                    $('#' + objName).datagrid('updateRow', {
                        index: iIndex,
                        row: {
                            TUNEUP: tuneup,
                            FEEAMT: feeamt
                        }
                    });
                }
            });
        }
        
        if (rows.length == 1 && rows[0].YR=="") {            
            $('#' + objName).datagrid('updateRow', {
                index: 0,
                row: {
                    YR: $('#cmSDT').val().substr(0,4),
                    FDT1: $('#cmSDT').val(),
                    FDT2: $('#cmEDT').val(),
                    TUNEDT: '',
                    TUNEUP: '0.0',
                    FEEAMT: $('#cmRNFEE').val()
                }
            });
        }
    }

    function doFormula2() {
        objName = 'cmDG2';
        var rows = $('#' + objName).datagrid('getRows');
        if (rows.length > 0) {
            $.each(rows, function (iIndex, objField) {
                if (iIndex > 0) {
                    var tuneup = 0;
                    var feeamt = 0;
                    if ($('#' + objName + iIndex).val() != '') {
                        tuneup = $('#' + objName + iIndex).val();
                    }
                    if (objField.FEEAMT >= 0) {
                        feeamt = Math.round(((tuneup * objField.FEEAMT) / 100) + objField.FEEAMT);
                    }

                    $('#' + objName).datagrid('updateRow', {
                        index: iIndex,
                        row: {
                            YR: objField.FDT1.substr(0, 4),
                            TUNEUP: tuneup,
                            FEEAMT: feeamt
                        }
                    });
                }
            });
        }
        if (rows.length == 1 && rows[0].YR == "") {
            $('#' + objName).datagrid('updateRow', {
                index: 0,
                row: {
                    YR: $('#cmSDT').val().substr(0, 4),
                    FDT1: $('#cmSDT').val(),
                    FDT2: $('#cmEDT').val(),
                    TUNEDT: '',
                    TUNEUP: '0.0',
                    FEEAMT: $('#cmMGFEE').val()
                }
            });
        }

    }



    function doSum(objName) {
        var tab = $('#tt').tabs('getSelected');
        var i = $('#tt').tabs('getTabIndex', tab);
        var FEETP;

        $.messager.confirm('執行確認', '您確定要計算租費?', function (r) {
            if (r) {
                var rows = $('#' + objName).datagrid('getRows');
                var obj = {};
            
            if (i == 0) {
                FEETP = "01";                
            } else if (i == 1) {
                FEETP = "03";
            } else if (i == 2) {
                FEETP = "05";
            } else if (i == 3) {
                FEETP = "04";
            }
            if (objName == "cmDG2") {
                FEETP = "02";
            }

            
            obj.FEETP = FEETP;
                obj.CNNO = $('#cmCNNO').text();
                obj.RMNO = $('#HOUSE').combogrid('getValue');
                obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
                
                obj.LIST = rows;
               
                $.ajax({
                    url: '@Url.Action("doSum", "ContractManager")',
                    data: obj,
                    type: "post",
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        $.messager.alert('系統訊息', '租費已計算完成!', 'info');
                    },
                    beforeSend: function (xhr, settings) {
                        settings.data =
                           settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
                    }
                });
            }
      });
    }
</script>



房屋編號: <span id="cmRMNO"></span> 合約編號: <span id="cmCNNO"></span> - <span id="contractLabel"></span> 折數與調幅 <br />
<input type="hidden" id="cmCNNO" name="cmCNNO" value="" />
<input type="hidden" id="cmSDT" name="cmSDT" value="" />
<input type="hidden" id="cmEDT" name="cmEDT" value="" />
<input type="hidden" id="cmRNFEE" name="cmRNFEE" value="" />
<input type="hidden" id="cmMGFEE" name="cmMGFEE" value="" />
<input type="hidden" id="cmFEETP" name="cmFEETP" value="" />
<input type="hidden" id="tmp1" name="tmp1" value="" />
<input type="hidden" id="tmp2" name="tmp2" value="" />
<table width="863" border="1" id="cmTB1" name="cmTB1">
    <tr>
        <td height="23" colspan="2" valign="top" bgcolor="#C4D7FF"><span id="cnmLabel"></span></td>
    </tr>
    <tr>
        <td width="453" height="198" valign="top"><table id="cmDG1"></table></td>
        <td width="394" valign="top">
            共計<span id="cmYY"></span>年<span id="cmMM"></span>月<span id="cmDD"></span>日<br />
            <table width="401" border="1">
                <tr>
                    <td width="125"><div id="cnmLabel2" align="center"></div></td>
                    <td width="170"><div align="center">設定值</div></td>
                    <td width="84">&nbsp;</td>
                </tr>
                <tr>
                    <td><div align="center">第二年調幅</div></td>
                    <td>
                        <div align="center">
                            <input type="text" name="cmDG11" id="cmDG11" style="width:60px" value="0" />%
                        </div>
                    </td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" data-options="iconCls:'formula-icon',size:'large',iconAlign:'top'" onclick="doReload1()">公式確認</a></td>
                </tr>
                <tr>
                    <td><div align="center">第三年調幅</div></td>
                    <td>
                        <label></label>
                        <div align="center">
                            <input type="text" name="cmDG12" id="cmDG12" style="width:60px" value="0" />%
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div align="center">第四年調幅</div></td>
                    <td>
                        <div align="center">
                            <input type="text" name="cmDG13" id="cmDG13" style="width:60px" value="0" />%
                        </div>
                    </td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" data-options="iconCls:'Calculator-5-icon',size:'large',iconAlign:'top'" onclick="doSum('cmDG1')">計算租費</a></td>
                </tr>
                <tr>
                    <td><div align="center">第五年調幅</div></td>
                    <td>
                        <div align="center">
                            <input type="text" name="cmDG14" id="cmDG14" style="width:60px" value="0" />%
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<br />
<table width="863" border="1" id="cmTB2" name="cmTB2" style="display:none">
    <tr>
        <td height="23" colspan="2" valign="top" bgcolor="#C4D7FF">管理費</td>
    </tr>
    <tr>
        <td width="448" height="198" valign="top"><table id="cmDG2"></table></td>
        <td width="399" valign="top">

            <table width="405" border="1">
                <tr>
                    <td width="129"><div align="center">(管理費)</div></td>
                    <td width="176"><div align="center">設定值</div></td>
                    <td width="78">&nbsp;</td>
                </tr>
                <tr>
                    <td><div align="center">第二年調幅</div></td>
                    <td>
                        <div align="center">
                            <input type="text" name="cmDG21" id="cmDG21" style="width:60px" value="0" />%
                        </div>
                    </td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" data-options="iconCls:'formula-icon',size:'large',iconAlign:'top'" onclick="doReload2()">公式確認</a></td>
                </tr>
                <tr>
                    <td><div align="center">第三年調幅</div></td>
                    <td>
                        <label></label>
                        <div align="center">
                            <input type="text" name="cmDG22" id="cmDG22" style="width:60px" value="0" />%
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div align="center">第四年調幅</div></td>
                    <td>
                        <div align="center">
                            <input type="text" name="cmDG23" id="cmDG23" style="width:60px" value="0" />%
                        </div>
                    </td>
                    <td rowspan="2"><a href="#" class="easyui-linkbutton" data-options="iconCls:'Calculator-5-icon',size:'large',iconAlign:'top'" onclick="doSum('cmDG2')">計算租費</a></td>
                </tr>
                <tr>
                    <td><div align="center">第五年調幅</div></td>
                    <td>
                        <div align="center">
                            <input type="text" name="cmDG24" id="cmDG24" style="width:60px" value="0" />%
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>