@{
    Layout = null;
}
<script>
    var cpmgr;
    $(document).ready(function () {

        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());        

        var getGridJSON = '@Url.Action("getContractDG", "Frm201j")';
        $('#jDG').datagrid({
            url: getGridJSON,
            queryParams: obj,
            border: true,
            rownumbers: false,
            nowrap: true,
            pagination: false,
            idField: 'CNO',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                {
                    field: 'CNNO',
                    title: '合約編號',
                    sortable: true,
                    width: 90,
                    halign: "center",
                    align: "left",
                    sortable: true
                },
                {
                    field: 'RNTP',
                    title: '類別',
                    sortable: true,
                    width: 50,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'NAME',
                    title: '項目',
                    sortable: true,
                    width: 150,
                    halign: "center",
                    align: "left",
                    sortable: true
                }
            ]],
            onSelect: function (index, row) {
                showjForm(row);
            }
        });


        //人員列表
        $('#jLOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });

       // $('#jHOUSE').html($('#HOUSE').combogrid('getValue'));
    });   //ready end


    function showjForm(row) {
        switch(row.CNO) {
         case '1':
           $('input[name=jCNTRATP][value=1]').prop("checked", true);
         break;
         case '2':
           $('input[name=jCNTRATP][value=2]').prop("checked", true);
         break;
         case '3':
           $('input[name=jCNTRATP][value=3]').prop("checked", true);
         break;
         case '4':
           $('input[name=jCNTRATP][value=4]').prop("checked", true);
         break;
         case '5':
           $('input[name=jCNTRATP][value=5]').prop("checked", true);
         break;
        }
        
        $('#jCNNO').val(row.CNNO);
        $('#jDT10').datebox('setValue', row.DT1);
        $('#jDT20').datebox('setValue', row.DT2);
       // $('#jDT11').datebox('setValue', '');
       // $('#jDT21').datebox('setValue', '');
        $('#jOTHERN').val(row.OTHERN);
        $('#jTAGID').val(row.TAGID);
    }

    function doSavej() {

        if (chk()) {
            $.messager.confirm('執行確認', '您確定要進行資料異動?', function (r) {
                if (r) {                    
                    var obj = {};                    
                    obj.JOBTAG = $.trim($('#CONTRAH_TAGID').val());
                    obj.TAGID = $.trim($('#jTAGID').val());
                    obj.CNNO = $.trim($('#jCNNO').val());
                    obj.CNTRATP = $('input:radio:checked[name="jCNTRATP"]').val();
                    obj.DT10 =$('#jDT10').datebox('getValue');
                    obj.DT20 =$('#jDT20').datebox('getValue');
                    obj.DT11 =$('#jDT11').datebox('getValue');
                    obj.DT21 =$('#jDT21').datebox('getValue');
                    obj.JOBTP =$('input:radio:checked[name="jJOBTP"]').val();
                    obj.CNNO1 = $.trim($('#jCNNO1').val());
                    obj.LOGUSR = $('#jLOGUSR').combobox('getText');
                    obj.NOTES = $('#jOTHERN').val() + " " + $('#jCNNO').val();
                    obj.RMNO = $('#HOUSE').combogrid('getValue');
                    var rows = $('#jDG').datagrid('getRows');
                    obj.LIST = rows;
                    $.ajax({
                        url: '@Url.Action("doSave", "Frm201j")',
                        data: obj,
                        type: "post",
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status > 0) {
                                $('#UPDNOTE_DG').datagrid('reload');
                                $('#jDG').datagrid('reload');
                                doRefresh();
                                $.messager.alert('系統訊息', '資料已儲存,請至合約作業維護合約資料及產生相關租金!', 'info');
                            } else {
                                $.messager.alert('系統訊息', '儲存失敗,您是否忘了至租金作業執行計算租費?', 'error');
                            }
                        },
                        beforeSend: function (xhr, settings) {
                            settings.data =
                               settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
                        }
                    });
                }
            });
        }
    }

    function showForm(CNO) {
        var tmp;
        if (CNO == "02") {
            tmp = $('#DEALERNM').val();
        } else if (CNO == "03") {
            tmp = cpmgr;
        } else if (CNO == "04") {
            tmp = $.trim($('#MLIVER').val());
        }
        $('#TX1').val(tmp);
        $('#TX2').val(tmp);
    }

    function chk() {
        var ck = $('input:radio:checked[name="jJOBTP"]').val();

        var dt11Str = $('#jDT11').datebox('getValue');
        var dt11 = new Date(dt11Str);

        var dt21Str = $('#jDT21').datebox('getValue');
        var dt21 = new Date(dt21Str);

        var dt20Str = $('#jDT20').datebox('getValue');
        var dt20 = new Date(dt20Str);

        var b=false;
        
        if ($('#jDT11').datebox('isValid') == false || $('#jDT21').datebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入續約期間日期!', 'warning');
        } else if (dt20.dateDiff("d", dt11) < 0) {
            $.messager.alert('系統訊息', '續約起始日不可小於舊約迄日!請重新輸入', 'warning');
        } else if (dt11.dateDiff("d", dt21) < 0) {
            $.messager.alert('系統訊息', '續約迄日不可小於起始日期!請重新輸入', 'warning');
        } else if (ck == undefined) {
            $.messager.alert('系統訊息', '作業別未選取', 'warning');
        } else {
            b = true;
        }

        
        return b;
    }

    function chkJOBTAG(rdo) {
        var jcntratp = $('input:radio:checked[name="jCNTRATP"]').val();
        if (jcntratp == undefined) {            
            $.messager.alert('系統訊息', '請先選擇租約!', 'warning');
            $('input[name=jJOBTP]').prop("checked", false);
            return false;
        }

        var dt1 = new Date(DateTimeUtil.transferIsoDate($('#jDT20').datebox('getValue')));        
        dt1.setDate(dt1.getDate() + 1);
        $('#jDT11').datebox('setValue', DateTimeUtil.convertDateToISOString(dt1));
        var dt2 = new Date(DateTimeUtil.transferIsoDate($('#jDT20').datebox('getValue')));
        dt2.setFullYear(dt1.getFullYear() + 1);
        $('#jDT21').datebox('setValue', DateTimeUtil.convertDateToISOString(dt2));

        if (rdo == '1') {
            if (jcntratp != "1") {
                $.messager.alert('系統訊息', '只限房屋租屋!', 'warning');
                $('input[name=jJOBTP]').prop("checked", false);
            }
            $('#jCNNO1').val('');
        } else {
            if (jcntratp != "1") {
                $.messager.alert('系統訊息', '請注意房屋主約的有效期限不得大於房屋的有效期限!', 'warning');
            }
            $('#jCNNO1').val($('#jCNNO').val());
        }
    }

    Date.prototype.dateDiff = function (interval, objDate) {
        var dtEnd = new Date(objDate);
        if (isNaN(dtEnd)) return undefined;
        switch (interval) {
            case "s": return parseInt((dtEnd - this) / 1000);
            case "n": return parseInt((dtEnd - this) / 60000);
            case "h": return parseInt((dtEnd - this) / 3600000);
            case "d": return parseInt((dtEnd - this) / 86400000);
            case "w": return parseInt((dtEnd - this) / (86400000 * 7));
            case "m": return (dtEnd.getMonth() + 1) + ((dtEnd.getFullYear() - this.getFullYear()) * 12) - (this.getMonth() + 1);
            case "y": return dtEnd.getFullYear() - this.getFullYear();
        }
    }
</script>

<a id="btnCCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSavej()">存檔</a>
<input type="hidden" id="jOTHERN" name="jOTHERN" value="" />
<input type="hidden" id="jTAGID" name="jTAGID" value="" />
<table width="796" border="1" cellpadding="4" cellspacing="3">

    <tr>
        <td><div align="right">合約標的</div></td>
        <td colspan="2">
            <input name="jCNTRATP" id="jCNTRATP" type="radio" value="1" onclick="return false" />
            房屋
            <input name="jCNTRATP" id="jCNTRATP" type="radio" value="2" onclick="return false" />
            車位
            <input name="jCNTRATP" id="jCNTRATP" type="radio" value="3" onclick="return false" />
            傢俱
            <input name="jCNTRATP" id="jCNTRATP" type="radio" value="4" onclick="return false" />
            俱樂部
            <input name="jCNTRATP" id="jCNTRATP" type="radio" value="5" onclick="return false" />
            雜項
        </td>
    </tr>
    <tr>
        <td><div align="right">合約編號</div></td>
        <td width="365"><input type="text" id="jCNNO" name="jCNNO" style="width:160px;height:20px" readonly /></td>
        <td width="300" rowspan="6" valign="top"><table id="jDG" data-options="fit:true,modal:true"></table></td>
    </tr>
    <tr>
        <td><div align="right">舊約期間</div></td>
        <td>
            <input type="text" id="jDT10" name="jDT10" class="easyui-datebox" style="width:130px;height:28px" readonly> 至 
            <input type="text" id="jDT20" name="jDT20" class="easyui-datebox" style="width:130px;height:28px" readonly>
        </td>
    </tr>
    <tr>
        <td><div align="right">作業別</div></td>
        <td>
             <input name="jJOBTP" id="radio" type="radio" value="1" onclick="chkJOBTAG('1')" /> 續新約
            <input name="jJOBTP" id="radio" type="radio" value="2" onclick="chkJOBTAG('2')"/>到期展延
            
</td>
    </tr>
    <tr>
        <td><div align="right">續約期間</div></td>
        <td>
            <input type="text" id="jDT11" name="jDT11" class="easyui-datebox" style="width:130px;height:28px" data-options="required:true" /> 至 
            <input type="text" id="jDT21" name="jDT21" class="easyui-datebox" style="width:130px;height:28px" data-options="required:true" />
        </td>
    </tr>
    <tr>
        <td><div align="right">新約編號</div></td>
        <td><input type="text" id="jCNNO1" name="jCNNO1" style="width:160px;height:20px" readonly /></td>
    </tr>
    <tr>
        <td height="192" valign="top"><div align="right">承辦人</div></td>
        <td valign="top"><input type="text" id="jLOGUSR" name="jLOGUSR" style="width:160px;height:28px" /></td>
    </tr>
</table>
