@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        
        $('#frm201eQueryDG').datagrid({
            rownumbers: true,
            queryParams: obj,
            nowrap: true,
            border:false,
            pagination: false,
            pageSize: 0,
            idField: 'CNO',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: true,
            singleSelect: true,
            sortName: 'CNO',
            sortOrder: 'asc',
            url: '@Url.Action("QueryGrid", "Frm201e")',
            columns: [[
                {
                    field: 'FEEYM',
                    title: '年月份',
                    sortable: true,
                    width: 80,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'FEETP',
                    title: '租金別',
                    sortable: true,
                    width: 100,
                    halign: "center",
                    align: "left",
                    sortable: true
                },
                {
                    field: 'FEEAMT',
                    title: '未稅',
                    sortable: true,
                    width: 80,
                    halign: "center",
                    align: "right",
                    sortable: true
                },
                {
                    field: 'AMTTX',
                    title: '稅額',
                    sortable: true,
                    width: 80,
                    halign: "center",
                    align: "right",
                    sortable: true
                },
                {
                    field: 'AMTSUM',
                    title: '含稅',
                    sortable: true,
                    width: 80,
                    halign: "center",
                    align: "right",
                    sortable: true
                },
                {
                    field: 'CNDAYS',
                    title: '合約天數',
                    sortable: true,
                    width: 60,
                    halign: "center",
                    align: "center",
                    sortable: true
                }
            ]],
            onDblClickRow: function (index, row) {
                doSelectDealernm();
            }
        });
    });   //ready end




    function reload() {
        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        obj.FEETP = $('input:radio:checked[name="eqCNTRATP"]').val();         
        $('#frm201eQueryDG').datagrid('reload', obj);
    }
</script>
<input name="eqCNTRATP" id="eqCNTRATP" type="radio" value="1" onclick="reload()" />
            房屋
<input name="eqCNTRATP" id="eqCNTRATP" type="radio" value="2" onclick="reload()" />
            車位
<input name="eqCNTRATP" id="eqCNTRATP" type="radio" value="3" onclick="reload()" />
            傢俱
<input name="eqCNTRATP" id="eqCNTRATP" type="radio" value="4" onclick="reload()" />
            俱樂部
<input name="eqCNTRATP" id="eqCNTRATP" type="radio" value="5" onclick="reload()" />
            雜項
<input name="eqCNTRATP" id="eqCNTRATP" type="radio" value="" onclick="reload()" />
            全部
<table id="frm201eQueryDG" data-options="fit:true,modal:true"></table>

