@{
    ViewBag.Title = "Frm525 水電瓦帳單明細表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


    });   //ready end

    $(window).load(function () {





    });


    function getObj() {
        var obj = {};
        obj.TOT = $("input[name='sTOT']:checked").val();
        obj.SYM = $.trim($('#SYM').val());
        obj.EYM = $.trim($('#EYM').val());     
        return obj;
    }


    function doPrint() {
        if ($.trim($('#SYM').val()) != '' && $.trim($('#EYM').val()) != '') {
            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm525")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json",
                onSubmit: function (param) {
                    param.obj = JSON.stringify(getObj());

                }
            });

        } else {
            $.messager.alert('系統訊息', '尚未輸入帳單年月!', 'warning');
        }



    }

</script>
<h2>Frm525 水電瓦帳單明細表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<br />
<br />
 
<table width="800" border="1">
    <tr>
        <td width="50">顯示小計</td>
        <td width="411">
            <label>
                <input name="sTOT" type="radio" value="1" />是
            </label>
            <label>
                <input name="sTOT" type="radio" value="2" checked />
                否
            </label> 
        </td>
    </tr>
    <tr>
        <td width="50">帳單年月</td>
        <td width="411">
            <input name="SYM" type="text" id="SYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> ~ 迄<input name="EYM" type="text" id="EYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> 
        </td>
    </tr>


</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

