@{
    ViewBag.Title = "Frm508 年度修繕總表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


    });   //ready end

    $(window).load(function () {





    });


    function getObj() {
        var obj = {};
        obj.SYM = $.trim($('#SYM').val());
        obj.EYM = $.trim($('#EYM').val());
        obj.OPT = $("input[name='OPT']:checked").val();
        return obj;
    }


    function doPrint() {
        if ($.trim($('#SYM').val()) != '' && $.trim($('#EYM').val()) != '') {
            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm508")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json",
                onSubmit: function (param) {
                    param.obj = JSON.stringify(getObj());

                }
            });

        } else {
            $.messager.alert('系統訊息', '尚未輸入修繕年月!', 'warning');
        }



    }

</script>
<h2>Frm508 年度修繕總表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<br />
<br />
 
<table width="800" border="1">
    <tr>
        <td width="50">修繕年月</td>
        <td width="411">
            <input name="SYM" type="text" id="SYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> ~ 迄<input name="EYM" type="text" id="EYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> 
        </td>
    </tr>
    <tr>
        <td width="50">修繕區域</td>
        <td width="411">
            <input id="OPT" name="OPT" type="radio" value="1" checked>
            住宅
            <input id="OPT" name="OPT" type="radio" value="2">
            俱樂部
            <input id="OPT" name="OPT" type="radio" value="3">
            公共區
            <input id="OPT" name="OPT" type="radio" value="*">
            全部
        </td>
    </tr>

</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

