
    <script type="text/javascript">
        var menudata;
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("getMenuitem", "Menu")',
                type: "post",
                dataType: "json",
                async: false,
                success: function (data, textStatus, jqXHR) {
                    menudata = data;                    
                    init(menudata);
                }
            });
        });

        window.onload = function () {
            $.each(menudata.MENUS, function (i, sm) {
                if (sm.MENUS.length == 0) { //若回傳長度為0代表無第二層選單,則關閉第一層
                    //$('#mb' + i).menubutton("disable");
                    //$('#mb' + i).menubutton("destroy");
                }
            });
            $('#form1').css("visibility", "visible");
        };

        function init(data) {
            var childmenu = "";
            var menulist = "";
            $.each(data.MENUS, function (i, sm) {
                childmenu = "<div id='mc" + i + "' style='width: 220px;'>";
                $.each(sm.MENUS, function (j, o) {
                    childmenu += "<div id='mcm" + i + j + "' onclick=doClick('" + o.URL + "','" + o.TARGET + "')>" + o.TITLE
                    + "</div> ";
                });
                childmenu += "</div>";
                if (sm.MENUS.length > 0) {
                    menulist = "<a href='#' id='mb" + i + "' class='easyui-menubutton' menu='#mc" + i + "' >" + sm.TITLE + "</a>";
                    $("#dMenu").append($(menulist));
                    $("#form1").append($(childmenu));
                }
                
            });



        }
        function doClick(url,target) {            
            if (target == "0") {
                window.location.href = url;
            } else if (target == "1") {
               window.open(url, "_blank");
            }
            //'@Url.Action("RoleManager", "Menu")';
        }





    </script>



<br />
      <hgroup class="title">
      <form id="form1" runat="server" style="visibility:hidden">
         <div id="dMenu" class="function_box_on"  style=" padding: 5px; width: 100%;">
         </div>
      </form>

      </hgroup>



