@{
    ViewBag.Title = "官網廣告彈跳視窗管理";
}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                上傳檔案</div>
            <div class="panel-body">
                @using (Html.BeginForm("Upload", "WebsiteUpload", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", @class = "form-horizontal" }))
                {
                <div class="form-group">
                <label for="HOTELSN">請選擇上架飯店</label>
                <select class="form-control" id="HOTELSN" name="HOTELSN">
                <option value="162" selected>台北福華</option>
                <option value="24">墾丁福華</option>
                <option value="165">高雄福華</option>
                </select>
                </div>                  
                    <div class="form-group">
                        <label for="Name" class="col-sm-3">
                            名稱</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="NAME" id="NAME">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SDATE" class="col-sm-3">
                            開始日期</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="SDATE" id="SDATE">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="STIME" id="STIME" value="00:00">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EDATE" class="col-sm-3">
                            結束日期</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="EDATE" id="EDATE">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="ETIME" id="ETIME" value="23:59">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="FILE" class="col-sm-3">
                            上傳檔案</label>
                        <div class="col-sm-9">
                            <input type="file" name="FILE" id="FILE" />(建議尺寸：寬250x高270)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="LINK" class="col-sm-3">
                            連結網址</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="LINK" id="LINK">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">
                        上傳圖片</button>
                }
            </div>
        </div>
    </div>
</div>
@section header{
    @Styles.Render("~/Content/themes/jui/css")
    @Scripts.Render("~/bundles/jqueryui")
}
@section scripts{
    <script>
        $(function () {
            $("#SDATE").datepicker({ dateFormat: "yy-mm-dd" });
            $("#EDATE").datepicker({ dateFormat: "yy-mm-dd" });
        });
    </script>
}
