@{
    ViewBag.Title = "Frm518 代收代付明細表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


        //代付人
        $('#ACPTER').combobox({
            url: '@Url.Action("getACPTER", "Frm518")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });

        //付款對象
        $('#MKRNM').combogrid({
            panelWidth: 300,
            idField: 'CNO',
            textField: 'CNM',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            url: '@Url.Action("getMAKR", "Frm208")',
            columns: [[
                { field: 'CNO', title: '編號', width: 60 },
                { field: 'CNM', title: '對象名稱', width: 250 }
            ]]
        });






    });   //ready end

    $(window).load(function () {





    });


    function getObj() {
        var obj = {};
        obj.SYM = $.trim($('#SYM').val());
        obj.EYM = $.trim($('#EYM').val());
        obj.MKRNO = $.trim($('#MKRNM').combobox('getValue'));
        obj.MKRNM = $.trim($('#MKRNM').combobox('getText'));
        obj.ACPTER = $.trim($('#ACPTER').combobox('getText'));
        return obj;
    }


    function doPrint() {
        if ($.trim($('#SYM').val()) != '' && $.trim($('#EYM').val()) != '') {
            $('#ifm').form('submit', {
                url: '@Url.Action("doRunReport", "Frm518")',
                //  queryParams:obj,
                dataType: "json",
                contentType: "application/json",
                onSubmit: function (param) {
                    param.obj = JSON.stringify(getObj());
                }
            });

        } else {
            $.messager.alert('系統訊息', '付款年月輸入不完整!', 'warning');
        }
    }

    function doExport() {
        var obj = getObj();
        window.location = "@Url.Action("doExport", "frm518")" + '?MKRNO=' + obj.MKRNO + '&MKRNM=' + obj.MKRNM + '&SYM=' + obj.SYM + '&EYM='+ obj.EYM;
    }
</script>
<h2>Frm518 代收代付明細表</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint()">列印</a>
<a id="btnExcel" href="#" class="easyui-linkbutton" data-options="iconCls:'excel-icon'" onclick="doExport()">匯出Excel</a>
<br />
<br />
 
<table width="800" border="1">
    <tr>
        <td width="50">付款年月</td>
        <td width="411">
            <input name="SYM" type="text" id="SYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> ~ 迄<input name="EYM" type="text" id="EYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> 
        </td>
    </tr>
    <tr>
        <td width="50">代付人</td>
        <td width="411">
            <input type="text" id="ACPTER" name="ACPTER" style="width:180px;height:28px"  />
        </td>
    </tr>
    <tr>
        <td width="50">付款對象</td>
        <td width="411">
            <input type="text" id="MKRNM" name="MKRNM" style="width:180px;height:28px" />
        </td>
    </tr>

</table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>

