<html>
<head>
<title>2002雙饗券</title>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<style>
	BODY {font-family:標楷體;}
	.lfont {font-size:20px;}
</style>
</head>
<body bgcolor="#FFFFFF" background="images/bground.gif" leftmargin="0" topmargin="0">
<table border="0" cellspacing="0" cellpadding="0" Height=335 Width=745 background="images/imgCoupon4.jpg">
  <tr> 
    <td height="166">&nbsp;</td>
  </tr>
</table>
<center>
<div style="page-break-after:always">
		<div style="position:relative; width:143px;height:50px;left: 210px; top: -65">
			#Barcode
		</div>
		<div style="position:relative; left: 220px; top: -75"><font size = 1>
			<table border="0" cellspacing="0" cellpadding="0" width="195px";height="3px">
				<tr><td>
					<font size=1pt>REF[#ref1]/REF[#ref2]/#IEntTaxNo/#UPrc/#ADptId</font>
				</td></tr>
			</table>
		</div>
</div>
</center>
</body>

