<title>誠摯的心意</title>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<style>
	BODY {font-family:新細明體;}
	.lfont {font-size:20px;}
</style>
</head>
<!--#dxbr-->
<br><BR>
<body bgcolor="#FFFFFF" background="images/bground.gif" leftmargin="0" topmargin="0">
<center>
 <div class="lfont" style="position:relative;left: 160px;top: 0px; height:300px"> 
<table style='position:relative; top:0; left:-25px'> 
<tr> <td> #DH#Description#DT
</td> </tr> 
</table> 
<div style='position:relative; top:27px; left:80px'>
<font size = 3pt>#Avday #Date1#And#Date2</font><br>
#Barcode</div>
<table style='position:relative; top:22px; left:78px'> 
   <tr> <td> <font size = 1pt>REF[#ref1]/REF[#ref2]/#IEntTaxNo/#UPrc/#ADptId</font>
   </td> </tr> 
 </table>
</div> 
</center>
<P style="PAGE-BREAK-BEFORE: always; TEXT-ALIGN: left"></P>

</body>
</html>