

<head>
<title>福華的心意</title>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<style>
	BODY {font-family:新細明體;}
	.lfont {font-size:20px;}
	H3{page-break-after:always}
</style>
</head>
<body bgcolor="#FFFFFF" background="images/bground.gif" leftmargin="0" topmargin="0">
<H3>
</h3>
<table border="0" cellspacing="0" cellpadding="0" Height=305 Width=719 background="images/imgCoupon1.jpg">
  <tr> 
    <td height="166">&nbsp;</td>
  </tr>
</table>
<center>
	<div style="position:relative; width:143px;height:50px;left: 260px; top: -100">
		#Barcode
	</div>
	<div style="position:relative; left: 60px; top: -65">
		<table BORDER="0" cellspacing="0" cellpadding="0" width="250px" ; height="10px">
			<tr><td>
				#Date1　　　　　　#Date2
			</td></tr>
		</table>
	</div>
	<div style="position:relative; left: 280px; top: -130px">
		<table BORDER="0" cellspacing="0" cellpadding="0" width="195px" ; height="3px">
			<tr><td>
				<font size = 1pt>REF[#ref1]/REF[#ref2]/#IEntTaxNo/#UPrc/#ADptId</font>
			</td></tr>
		</table>
	</div>
	<div class="lfont" style="position:relative;left: -15px;top: -315px">
		<table BORDER="0" cellspacing="0" cellpadding="0" width="550px" ; height="140px">
			<tr><td>
				#DH#Description#DT
			</td></tr>
		</table>
	</div>
</center>	
</body>
