<html>
<head>
<title>連鎖住宿券</title>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<style>
	BODY {font-family:細明體;}
	.lfont {font-size:16px;}
</style>
</head>
<body bgcolor="#FFFFFF" background="images/bground.gif" leftmargin="0" topmargin="0">
<table border="0" cellspacing="0" cellpadding="0" Height=700 Width=756>
  <tr>
    <td height="166">&nbsp;</td>
  </tr>
</table>
<center>
	<div class="lfont" style="position:relative;left: 20px;top: -10px">
		<table BORDER="0" cellspacing="0" cellpadding="0" width="540px" ; height="500px">
			<tr><td><font size="-2">
				#Description</font>
			</td></tr>
		</table>
	</div>
<div style="page-break-after:always">
		<div style="position:relative; width:143px;height:50px;left: 220px; top: -80">
			#Barcode
		</div>
		
		<div style="position:relative; left: 240px; top: -90"><font size = 1>
			<table border="0" cellspacing="0" cellpadding="0" width="195px";height="-3px">
				<tr><td>
					<font size=1pt>REF[#ref1]/REF[#ref2]/#IEntTaxNo/#UPrc/#ADptId</font>
				</td></tr>
			</table>
</div>
</center>
</body>
