<title>仁愛店住宿券</title>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<style>
	BODY {font-family:新細明體;}
	.lfont {font-size:20px;}
	H3{page-break-after:always}
</style>
</head>
<body bgcolor="#FFFFFF" background="images/bground.gif" leftmargin="0" topmargin="0">
<H3>
<table border="0" cellspacing="0" cellpadding="0" Height=700 Width=700>
  <tr> 
    <td>　</td>
  </tr>
</table>
<center>
	<div style="position:relative; width:143px;height:50px;left: 230px; top: 550">
		#Barcode
	</div>
	<div style="position:relative; left: 256px; top: 140">
		<table BORDER="0" cellspacing="0" cellpadding="0" width="250px" height="10px">
			<tr><td>　
			</td></tr>
		</table>
	</div>
	<div style="position:relative; left: 250px; top: 514">
		<table BORDER="0" cellspacing="0" cellpadding="0" width="195x" height="3px">
			<tr><td>
				<font size = 1pt>REF[#ref1]/REF[#ref2]/#IEntTaxNo/#UPrc/#ADptId</font>
			</td></tr>
		</table>
	</div>
	<div class="lfont" style="position:relative;left: 10px;top: -80px">
		<table BORDER="0" cellspacing="0" cellpadding="0" width=600>
			<tr><td width=600>
				<!-- #DH#Description#DT -->
				#Description
			</td></tr>
		</table>
	</div>
</center>	
</H3>
</body>
</html>