<html>
<head>
<title>審核結果</title>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
</head>

<body bgcolor="#CCCC99">
<table width="64%" border="1" cellpadding="0" cellspacing="0" bgcolor="#CCFFCC" bordercolor="#333300">
  <tr> 
    <td colspan="2"> 
      <h3 align="center"><font face="標楷體" color="#660000">福華大飯店兌換券審核通知</font></h3>
    </td>
  </tr>
  <tr> 
    <td width="25%"><font color="#003333" face="標楷體">編號</font></td>
    <td width="75%"><font color="#003333" face="標楷體">#IsuId#</font></td>
  </tr>
  <tr> 
    <td width="25%"><font color="#003333" face="標楷體">券別</font></td>
    <td width="75%"><font color="#003333" face="標楷體">#CCName#</font></td>
  </tr>
  <tr> 
    <td width="25%"><font color="#003333" face="標楷體">張數</font></td>
    <td width="75%"><font color="#003333" face="標楷體">#Qty#</font></td>
  </tr>
  <tr>
    <td width="25%"><font color="#003333" face="標楷體">申請日期</font></td>
    <td width="75%"><font color="#003333" face="標楷體">#S2Date#</font></td>
  </tr>
  <tr> 
    <td width="25%"><font color="#003333" face="標楷體">客戶</font></td>
    <td width="75%"><font color="#003333" face="標楷體">#Customer#</font></td>
  </tr>
  <tr> 
    <td width="25%"><font color="#003333" face="標楷體">審核單位</font></td>
    <td width="75%"><font color="#003333" face="標楷體">#IEntName#</font></td>
  </tr>
  <tr> 
    <td width="25%"><font color="#003333" face="標楷體">審核結果</font></td>
    <td width="75%"><font color="#003333" face="標楷體">#Status#</font></td>
  </tr>
  <tr> 
    <td width="25%"><font face="標楷體" color="#003333">審核日期</font></td>
    <td width="75%"><font face="標楷體" color="#003333">#Date#</font></td>
  </tr>
  <tr> 
    <td width="25%"><font color="#003333" face="標楷體">#Title#</font></td>
    <td width="75%"><font color="#003333" face="標楷體">#Remark#</font></td>
  </tr>
</table>
</body>
</html>
