<html>
<head>
<title>住宿券查詢</title>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
</head>

<body bgcolor="#ffffff" background="images/bground.gif" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<div align="center"> 
  <p><b><font color="#662b22" size="+2" face="標楷體">兌換券查詢</font></b> </p>
  
        
  <table width="95%" border="1" cellspacing="0" cellpadding="0" align="center" bordercolor="#662b22" bordercolorlight="#662b22" bordercolordark="#662b22">
    <tr> 
      <td width="17%" bgcolor="#662b22"> <font color="#e7b287" 
     >兌 換 券 編 號：</font></td>
      <td width="29%" bgcolor="#e7b287" bordercolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#CINo#</font></div>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >券　　　別：</font></div>
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#CCName#</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"> <font color="#e7b287" 
     >申 請 單 編 號：</font></td>
      <td width="29%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#IsuId#</font></div>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >發 行 日 期 ：</font></div> 
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#S4Date#</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"><font color="#e7b287" 
     >發行關係企業：</font></td>
      <td width="29%" bgcolor="#e7b287" nowrap>
      <font color="#662b22" 
     >#IEntTaxNo##IEntName#</font>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >狀　　　態：</font></div>
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#IsuStatusDesc#</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"> <font color="#e7b287" 
     >申請關係企業：</font></td>
      <td width="29%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#AEntName#</font></div>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >申 請 部 門 ：</font></div>
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#ADptId##ADptName#</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"> <font color="#e7b287" 
     >申　 請 　人 ：</font></td>
      <td width="29%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#AUserName#</font></div>
      </td>
      <td bgcolor="#662b22" bordercolor="#662b22" width="14%" 
     >&nbsp; </td>
      <td width="40%" bgcolor="#e7b287" nowrap bordercolor="#662b22"><font color="#662b22"></font> 
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"> <font color="#e7b287" 
     >客　　　　戶：</font></td>
      <td width="29%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#Customer#</font></div>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >客 戶 電 話 ：</font></div>
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#CustomerTel#</font></div>
      </td>
    </tr>
    
  </table>        
  <table width="95%" border="1" cellspacing="0" cellpadding="0" align="center" bordercolor="#662b22" bordercolorlight="#662b22" bordercolordark="#662b22">
    <tr> 
            
      <td width="17%" bgcolor="#662b22"><font color="#e7b287" 
     >說　　　　明：</font></td>
            
      <td width="83%" bgcolor="#e7b287"><font color="#662b22" 
     >#Description#</font></td>
          </tr>
        </table>
        
  <table width="95%" border="1" cellspacing="0" cellpadding="0" align="center" bordercolor="#662b22" bordercolorlight="#662b22" bordercolordark="#662b22">
    <tr> 
      <td width="17%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >有 效 日 期 　：</font></div>
      </td>
      <td width="29%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#Date#</font></div>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     > 
        <div align="left"><font color="#e7b287" 
     >金　　　額：</font></div></font></div>
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#UPrc#</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22">
      </td>
      <td width="29%" bgcolor="#e7b287" nowrap>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >用　　　途：</font></div>
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#UseName#</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >付 款 方 式 　：</font></div>
      </td>
      <td width="29%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#PayName#</font></div>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >結 帳 方 式 ：</font></div>
      </td>
      <td width="40%" bgcolor="#e7b287"> 
        <div align="left"><font color="#662b22" 
     >Ref[#RefId##RefName#]/Ref[#RefId2##RefName2#]</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >處 理 現 況 　：</font></div>
      </td>
      <td width="29%" bgcolor="#e7b287"> 
        <div align="left"><font color="#662b22" 
     >#CIStatusDesc#</font></div>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >收 券 日 期 ：</font></div>
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#S5Date#</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >收券關係企業：</font></div>
      </td>
      <td width="29%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#S5EntName#</font></div>
      </td>
      <td width="14%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >收 券 部 門 ：</font></div>
      </td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#S5DptName#</font></div>
      </td>
    </tr>
    <tr> 
      <td width="17%" bgcolor="#662b22"> 
        <div align="left"><font color="#e7b287" 
     >收　券　人　：</font></div>
      </td>
      <td width="29%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#S5UserName#</font></div>
      </td>
      <td bgcolor="#662b22" bordercolor="#662b22" width="14%"><font color="#e7b287">備　　　註：</font></td>
      <td width="40%" bgcolor="#e7b287" nowrap> 
        <div align="left"><font color="#662b22" 
     >#remark#</font></div>
      </td>
    </tr>
  </table>
      
</div>
  

</body>
</html>
